# Archivos temporales
logs/
crash-reports/
downloads/
saves/
.cache/
xaero/

# Archivos de usuario
options.txt
usercache.json
usernamecache.json
command_history.txt
minecraftinstance.json

# Archivos Java
hs_err_pid*
replay_pid*

# IDE
.vscode/
.idea/

# Sistema
Thumbs.db
.DS_Store

# Mantener estos directorios
!mods/
!config/
!defaultconfigs/
!resourcepacks/"minecraftinstance.json" 
"config/sodium-fingerprint.json" 
"config/sodium-options.json" 
"config/jei/" 
"config/resourceful-config-web.json" 
